.TopFrame{
    height: 6%;
    min-height: 70px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(214, 214, 200, 0.5);
    position: relative;
    z-index: 10;
}

/*----------------------------------------------------*/

.homeFrame {
    flex-shrink: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.homeFrame button {
    padding: 7px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.homeFrame button .material-symbols-outlined {
    color: rgba(236, 142, 6, 0.9);
    font-size: 40px;
}

/*----------------------------------------------------*/

.logoFrame {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    cursor: pointer;
}

.textLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.upText {
    font-size: 18px;
    font-weight: 800;
}

.downText {
    font-size: 18px;
    font-weight: 800;
    margin-top: 5px;
}

.separator {
    color: #EC8E06;
    font-size: 30px;
}

.year {
    font-size: 20px;
    font-weight: 800;
}

/*----------------------------------------------------*/

.addFrame {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
}

.addFrame button {
    border: none;
    border-radius: 45px;
    background-color: rgba(236, 142, 6, 0.9);
    color: white;
    font-size: 17px;
    font-weight: 600;
    padding: 7px 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


.AvatarContainer {
    margin-right: 20px;
}