.HomePage {
    /*margin-top:6%;*/
    min-height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.ImageFrame {
    /*margin-top: 11%;*/
    margin-top: calc(2vw + 4vh);
    /*max-width: 100%;*/
    /*height: 20%;*/
    /*width: 100%;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ImageFrame img {
    width: calc(400px + 1vmin);
    height: 100%;
}

/*-------------------------------------*/

.ButtonFrame {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.ButtonFrame span {
    /*margin-top: 15%;*/
    margin-top: 2.1vw;
}

.ButtonFrame button {
    border-radius: 45px;
    border-width: 1px;
    border-style: solid;
    padding: 5px 15px;
    background-color: transparent;
    font-weight: 700;
    font-size: calc(10px + 1vmin);
    max-font-size: 20px;
    cursor: pointer;
}

.ButtonFrame button:hover {
    background-color: rgba(255, 167, 38, 1.0);
    color: white;
}

/*----------------------------------*/

.TextFrame {
    height: 40%;
    /*margin-top: 7%;*/
    margin-top: 2vmin;
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: calc(10px + 0.5vmin);
    max-font-size: 17px;
    /*gap: 10px;*/
}

.TextFrame header {
    /*margin-top: 2%;*/
    margin-top: 2vh;
    font-size: calc(10px + 1vmin);
    max-font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.TextFrame p {
    margin-bottom: -3px;
}