body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

button {
  font-family: 'Inter', sans-serif;
}
